body {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-container {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background: white;
    padding: 1em;
    border-radius: 0.25em;
}

#stats {
    left: 1em;
    top: 1em;
    min-width: 4em;
    position: absolute;
    background: #f0f0f0;
    padding: 1em;
    border-radius: 0.25em;
}

#stats table {
    border: none;            
}

#stats table td {
    padding: 0.25em;
}

#task {
    /*background: wheat;*/
    text-align: center;
    font-size: 4rem;
    display: none;
}

#answer {
    border: none;
    background: #f9f9f9;
    font-size: 4rem;
    display: inline-block;
    width: 3em;
    padding: 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#happyCat, #shokedCat {
    display: none;
    width: 100%;
    text-align: center;
}