body {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#main-container {
    left: 50%;
    top: 1em;
    position: absolute;
    transform: translateX(-50%);
    width: 600px;
    height: 500px;
    background: white;
    padding: 1em;
    border-radius: 0.25em;
}

#stats {
    left: 1em;
    top: 1em;
    min-width: 5em;
    position: absolute;
    background: #f0f0f0;
    padding: 1em;
    border-radius: 0.25em;
}

#stats table {
    border: none; 
}

#stats table td {
    padding: 0.25em;
}

#task {
    /*background: wheat;*/
    text-align: center;
    font-size: 4rem;
    display: none;
}

#answer {
    border: none;
    background: #f9f9f9;
    font-size: 4rem;
    display: inline-block;
    width: 3em;
    padding: 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#happyCat, #shokedCat {
    display: none;
    width: 100%;
    text-align: center;
}